@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/* .attribution a {
   color: hsl(228, 45%, 44%);
   font-size: 11px;
   text-align: center;
} */

:root {
   --Strong-cyan: hsl(172, 67%, 45%);
   --Very-dark-cyan: hsl(183, 100%, 15%);
   --Dark-grayish-cyan: hsl(186, 14%, 43%);
   --Grayish-cyan: hsl(184, 14%, 56%);
   --Light-grayish-cyan: hsl(185, 41%, 84%);
   --Very-light-grayish-cyan: hsl(189, 41%, 97%);
   --White: hsl(0, 0%, 100%);
   --main-font: 'Space Mono', monospace;
}

*,input,label {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--main-font);
   outline: none;
   border: none;
   font-size: 24px;
   font-weight: 600;
}

body {
   width: 100vw;
   height: 100vh;
   background-color: var(--Light-grayish-cyan);
   display: grid;
}

input {
   height: 2rem;
   border-radius: 10px;
   text-align: end;
   background-color: var(--Very-light-grayish-cyan);
}

.content-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 25px   ;
   margin: 0px 30px;
}

.logo{
   text-align: center;
}
.container{
   max-width: 1440px;
   width: 100%;
   gap: 35px;
   display: flex;
   padding: 30px;
   background-color: var(--White);
   border-radius: 20px;
}

.first-box, .second-box {
   width: 100%;
   display: grid;
   border-radius: 20px;
}

.first-box label{
   color: var(--Grayish-cyan);
   font-size: 18px;
}

.bill-card,.number-people-card,.select-tip-card{
   display: grid;
}

.select-tip-card{
   margin: 40px 0px;
}

.tip-option-card{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-content: center;
   gap: 15px;
   margin: 10px 0px;
}

#tip-option{
   text-align: center;
   color: var(--White);
   background-color: var(--Very-dark-cyan);
   cursor: pointer;
}

#input-tip-custom{
   width: 100%;
   background-color: var(--Very-light-grayish-cyan);
}

.second-box{
   padding: 30px;
   background-color: var(--Very-dark-cyan);
}

.second-box label{
   font-size: 16px;
   color: var(--White);
}

.second-box p{
   font-size: 12px;
   color: var(--Grayish-cyan);
}

#btn-clean{
   color: var(--Very-dark-cyan);
   text-transform: uppercase;
   background-color: var(--Strong-cyan);
   margin-top: 100px;
   text-align: center;
   cursor: pointer;
}

.tip-value-card, .person-amount-card{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#tip-value, #person-value{
   font-size: 54px;
   color: var(--Strong-cyan);
}

@media only screen and (max-width: 910px) {
   .content-box{
      margin: 0;
      justify-content: end;
   }
   .container{
      gap: 0px   ;
      width: 100%;
      flex-direction: column;
      border-radius: 20px 20px 0px 0px;
   }
   .first-box{
      gap: 20px;
   }
   .first-box, .second-box {
      width: 100%;
   }
   .tip-option-card{
      grid-template-columns: repeat(2, 1fr);
   }
   #btn-clean{
      margin-top: 20px;
   }
   .select-tip-card{
      margin: 10px 0px;
   }
}